@import "tailwindcss";@import "tailwindcss";

/* -------- THEMED SCROLLBAR -------- */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #7e22ce, #db2777);
  border-radius: 10px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #7e22ce transparent;
}