@import "tailwindcss";@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #303030, #212121);
  border-radius: 10px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}

@keyframes wave {
  0% { transform: scaleY(1); }
  50% { transform: scaleY(1.8); }
  100% { transform: scaleY(1); }
}

.animate-wave {
  animation: wave 0.8s infinite ease-in-out;
  transform-origin: bottom;
}

.animate-spin {
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}